version: '3.8'
services:
  web:
    build: ./backend
    command: gunicorn portfolio.wsgi:application --bind 0.0.0.0:8000
    ports:
      - '8000:8000'
    volumes:
      - ./backend:/app
    environment:
      - DEBUG=1
