<%- include('partials/head', { title }) %>
<main id="main" class="container center">
  <h1>404</h1>
  <p>Sorry, the page you're looking for cannot be found.</p>
  <a class="btn" href="/">Go Home</a>
</main>
<%- include('partials/footer') %>
