<%- include('partials/head', { title }) %>
<main id="main" class="container center">
  <h1>500</h1>
  <p>Whoops! Something went wrong on our end.</p>
  <a class="btn" href="/">Go Home</a>
</main>
<%- include('partials/footer') %>
